In [30]:
import pandas as pd
import numpy as np

In [31]:
df_general_trials = pd.read_csv("files/trials.csv")

In [32]:
df_general_trials.head()

,year,decade,century,tried,deaths,city,gadm.adm2,gadm.adm1,gadm.adm0,lon,lat,record.source
0,NaN,1520,1500,1,1.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
1,NaN,1530,1500,1,1.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
2,NaN,1540,1500,5,5.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
3,NaN,1580,1500,7,5.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
4,NaN,1590,1500,11,0.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)

In [33]:
def cabeceras (dataframe):

    """Esta funci√≥n renombra las cabeceras del DataFrame, sustituye espacios por "_"
    y las pone en minusculas.
    
    Args:
    lista : lista de DFs que queremos modificar
    
    Returns:
    La funcion no tiene return, modifica las cabeceras por asignacion directa"""

    dataframe.columns = [col.replace(".", "_").lower() for col in dataframe.columns]
    print(f"Las nuevas cabeceras son: {dataframe.columns}")
    print("--------------------------------------------")


cabeceras(df_general_trials)

Las nuevas cabeceras son: Index(['year', 'decade', 'century', 'tried', 'deaths', 'city', 'gadm_adm2',
       'gadm_adm1', 'gadm_adm0', 'lon', 'lat', 'record_source'],
      dtype='object')
--------------------------------------------

In [34]:
for col in df_general_trials.columns:
    print(f"Para la columna {col} hay {df_general_trials[col].isnull().sum()} datos nulos")

Para la columna year hay 931 datos nulos
Para la columna decade hay 0 datos nulos
Para la columna century hay 0 datos nulos
Para la columna tried hay 0 datos nulos
Para la columna deaths hay 3826 datos nulos
Para la columna city hay 5213 datos nulos
Para la columna gadm_adm2 hay 1047 datos nulos
Para la columna gadm_adm1 hay 159 datos nulos
Para la columna gadm_adm0 hay 0 datos nulos
Para la columna lon hay 5803 datos nulos
Para la columna lat hay 5803 datos nulos
Para la columna record_source hay 0 datos nulos

In [35]:
for col in df_general_trials.columns:
    print(f"Los datos unicos de la columna {col} son {df_general_trials[col].unique()}")

Los datos unicos de la columna year son [  nan 1494. 1586. 1689. 1652. 1782. 1423. 1737. 1695. 1696. 1455. 1514.
 1626. 1678. 1680. 1454. 1459. 1565. 1666. 1448. 1500. 1578. 1590. 1630.
 1640. 1343. 1349. 1371. 1379. 1381. 1386. 1392. 1401. 1415. 1416. 1417.
 1420. 1421. 1427. 1430. 1431. 1435. 1436. 1437. 1445. 1450. 1453. 1460.
 1467. 1469. 1466. 1470. 1471. 1472. 1477. 1478. 1480. 1483. 1484. 1485.
 1490. 1493. 1497. 1498. 1499. 1502. 1504. 1505. 1507. 1509. 1511. 1513.
 1515. 1518. 1520. 1521. 1522. 1523. 1524. 1525. 1526. 1527. 1528. 1529.
 1530. 1533. 1534. 1535. 1538. 1539. 1541. 1542. 1543. 1544. 1545. 1546.
 1548. 1549. 1550. 1552. 1553. 1558. 1559. 1561. 1562. 1563. 1564. 1566.
 1567. 1568. 1570. 1571. 1572. 1573. 1574. 1575. 1576. 1577. 1579. 1580.
 1581. 1583. 1584. 1585. 1587. 1588. 1589. 1591. 1592. 1593. 1594. 1595.
 1596. 1597. 1598. 1599. 1600. 1601. 1602. 1603. 1604. 1605. 1606. 1607.
 1608. 1609. 1610. 1611. 1612. 1613. 1614. 1615. 1616. 1617. 1618. 1619.
 1620. 1621. 1622. 1623. 1624. 1625. 1627. 1628. 1629. 1631. 1632. 1636.
 1637. 1638. 1639. 1641. 1642. 1643. 1644. 1645. 1646. 1649. 1647. 1650.
 1651. 1653. 1654. 1655. 1656. 1657. 1658. 1659. 1660. 1661. 1662. 1663.
 1664. 1665. 1667. 1668. 1669. 1670. 1671. 1672. 1673. 1674. 1675. 1677.
 1679. 1676. 1681. 1682. 1685. 1686. 1687. 1683. 1688. 1690. 1691. 1692.
 1693. 1694. 1697. 1698. 1699. 1700. 1701. 1702. 1703. 1705. 1707. 1708.
 1709. 1704. 1706. 1710. 1711. 1712. 1713. 1714. 1715. 1716. 1717. 1718.
 1719. 1720. 1721. 1722. 1723. 1724. 1725. 1726. 1727. 1728. 1729. 1730.
 1732. 1733. 1736. 1738. 1739. 1731. 1734. 1740. 1742. 1743. 1744. 1746.
 1749. 1750. 1751. 1752. 1753. 1754. 1755. 1756. 1757. 1761. 1765. 1766.
 1770. 1771. 1773. 1775. 1790. 1792. 1495. 1510. 1512. 1516. 1517. 1536.
 1540. 1551. 1554. 1555. 1556. 1557. 1560. 1569. 1634. 1326. 1508. 1438.
 1684. 1400. 1404. 1330. 1335. 1482. 1488. 1433. 1481. 1385. 1582. 1446.
 1487. 1745. 1307. 1310. 1314. 1316. 1319. 1327. 1331. 1340. 1407. 1648.
 1496. 1633. 1635. 1835. 1850. 1473. 1476. 1489. 1353. 1451. 1393. 1452.
 1491. 1492. 1390. 1322. 1432. 1458. 1475. 1399. 1414. 1300. 1347. 1406.
 1434. 1444. 1464. 1468. 1474. 1486. 1395. 1441. 1479. 1336. 1384. 1389.
 1456. 1308. 1315. 1301. 1302. 1311. 1325. 1337. 1366. 1376. 1388. 1419.
 1426. 1440. 1447. 1457. 1465. 1396. 1442. 1462. 1409. 1461. 1317. 1323.
 1380. 1397. 1398. 1439. 1350. 1324. 1329. 1410. 1424. 1360. 1372. 1408.
 1402. 1463. 1320. 1321. 1339. 1449. 1304. 1387. 1318. 1338. 1428. 1383.
 1375. 1394. 1412. 1373. 1422. 1303. 1306. 1531. 1532. 1547. 1537. 1735.
 1748. 1741. 1747. 1826. 1503. 1762. 1774. 1777. 1779. 1786. 1760.]
Los datos unicos de la columna decade son [1520 1530 1540 1580 1590 1600 1610 1620 1630 1640 1650 1660 1670 1680
 1690 1700 1720 1550 1560 1570 1710 1730 1740 1750 1760 1770 1470 1490
 1400 1410 1420 1430 1440 1450 1460 1480 1500 1510 1350 1360 1370 1380
 1390 1780 1340 1790 1320 1330 1300 1310 1830 1850 1820]
Los datos unicos de la columna century son [1500 1600 1700 1400 1300 1800]
Los datos unicos de la columna tried son [  1   5   7  11   6  22  14  25  39  10   8  28  12  16  15  27  66  73
  87 157 121  62   3  17  43  38  51  57  63  45 103 106 217 227 180 185
 143  47   4  21 134  80  97  56  64  26   2 100 124  34  30  20 142 311
 240 500 160   9  13  65  52  68  49  41  18  23  40  29  42  19  31  85
  82  60  36  54 200  50  74  53 110  24  33 126  72  35  48 158 219 101
 253  94 129 169  95  90 166 111 167  32  70 178 403 114 331 352  44  58
  46 113  61]
Los datos unicos de la columna deaths son [  1.   5.   0.  18.   8.   4.  10.   3.   2.  11.  25.  41.   9.   6.
  14.  19.  15.  26.  22.  39.  46.  62.  64.  36.  51.  21.   7.  33.
  69.  31.  47.  12.  60.  40. 311. 240. 500. 160.  nan  13.  27.  63.
  52.  68.  20.  23.  16.  29.  28. 100.  54.  80. 200.  74.  53. 110.
  34.  87.  24.  32.  42. 121.  71.  17.  30. 167.  48.  38.  50.  70.
  94.  35. 219.  58.  57.]
Los datos unicos de la columna city son [nan 'Isny im Allgau' 'Erolzheim' 'Heidelberg' 'Augsburg' 'Regensburg'
 'Munich' 'Nordlingen' 'Landshut' 'Kempten' 'Straubing' 'Lindau' 'Aschau'
 'Burghausen' 'Markt Schwaben' 'Dingolfing' 'Unterthingau' 'Abensberg'
 'Immenstadt' 'Landsberg am Lech' 'Rottenburg' 'Wolfratshausen'
 'Memmingen' 'Rosenheim' 'Salzweg' 'Ingolstadt' 'kotz' 'Rettenberg'
 'Gundelfingen' 'Traunstein' 'Cham' 'Weissenhorn' 'Donauworth'
 'Neumarkt in der Oberpfalz' 'Spalt' 'Illereichen' 'Kallmunz' 'Burgau'
 'Hochstadt an der Donau' 'Laufen' 'Oettingen' 'Dillingen an der Donau'
 'Marktoffingen' 'Schongau' 'Marktoberdorf' 'Wengen' 'Weilheim' 'Amberg'
 'Pfaffenhofen' 'Freising' 'Lauingen' 'Bad Griesbach' 'Bad Reichenhall'
 'Aichach' 'Rain' 'Regen' 'Wallerstein' 'Schwabmunchen' 'Gremheim'
 'Tapfheim' 'Kraiburg' 'Vohburg' 'Essing' 'Kelheim' 'Erding' 'Starnberg'
 'Zusmarshausen' 'Grossaitingen' 'Dinkelscherben' 'Buchloe' 'Pfronten'
 'Bobingen' 'Kaltental' 'Eggenthal' 'Kraftisried' 'Lissenthan' 'Irsee'
 'Osterzell' 'Kellmunz' 'Reichertshofen' 'Pappenheim' 'Bad Tolz'
 'Unterfohring' 'Bad Aibling' 'Apfeldorf' 'Eggenfelden' 'Dachau'
 'Neustadt an der Donau' 'Kaufbeuren' 'Wiesent' 'Nesselwang' 'Durrwangen'
 'Ritzisried' 'Illertissen' 'Untermeitingen' 'Wasserburg am Bodensee'
 'Riedenburg' 'Neuburg an der Donau' 'Sulzberg' 'Garmisch-Partenkirchen'
 'Friedberg' 'Kosching' 'Hemau' 'Laaber' 'Barnstein' 'Lengdorf'
 'Kranzberg' 'Mainburg' 'Geisenfeld' 'Gerolfing' 'Schrobenhausen'
 'Wemding' 'Thannhausen' 'Deggendorf' 'Marquartstein' 'Wertingen'
 'Zwiesel' 'Burglengenfeld' 'Bad Kotzting' 'Miesbach'
 'Murnau am Staffelsee' 'Wasserburg am Inn' 'Grafenau' 'Edenbergen'
 'Turkenfeld' 'Burgheim' 'Saldenburg' 'Mindelheim' 'Krumbach'
 'Breitenbrunn' 'Wittislingen' 'Zoschingen' 'Monheim' 'Viechtach'
 'Mitterfels' 'Weiden in der Oberpfalz' 'Leuchtenberg'
 'Haag in Oberbayern' 'Tittmoning' 'Durlach' 'Hengersberg' 'Bernbeuren'
 'Neuotting' 'Reichenberg' 'Roding' 'Pfarrkirchen' 'Haldenwang'
 'Neumarkt-Sankt Veit' 'Altotting' 'Illerbeuren' 'Kronburg' 'Martinszell'
 'Teisendorf' 'Trostberg' 'Mering' 'Berchtesgaden' 'Muhldorf' 'Weitnau'
 'Regenstauf' 'Hilpoltstein' 'Moosburg' 'Kirchberg' 'Turkheim' 'Velburg'
 'Fursteneck' 'Vilsbiburg' 'Bogen' 'Burgrain' 'Obergunzburg' 'Heideck'
 'Ottobeuren' 'Vilshofen an der Donau' 'Sulzbach-Rosenberg'
 'Braunau am Inn' 'Scharding' 'Mattighofen' 'Landau' 'Saint-Die' 'Blamont'
 'Gondreville' 'Einville-au-jard' 'Mirecourt' 'Epinal'
 'Chatel-sur-Moselle' 'Rosieres-aux-Salines' 'Amance' 'Vaudemont' 'Arches'
 'Bruyeres' 'Dompaire' 'Luneville' 'Charmes' 'Nancy' 'Dieuze'
 'Pont-a-Mousson' 'Preny' 'Darney' 'Bitche' 'Wallerfangen' 'Onhaye'
 'Floreffe' 'Walcourt' 'Dinant' 'Andenne' 'Braives' 'Namur' 'Hamois'
 'Sambreville' 'Gerpinnes' 'Fernelmont' 'Mettet' 'Fleurus' 'Eghezee'
 'Philippeville' 'Sombreffe' 'Villers-la-Ville' 'Chatelet' 'Burdinne'
 'Hannut' 'Ciney' 'Florennes' 'Assesse' 'Bioul' 'Gembloux' 'Houyet'
 'Hastiere' 'Gesves' 'Yvoir' 'Ohey' 'Wavre' 'Anhee' 'Jemeppe-sur-Sambre'
 'Charleroi' 'Wasseiges' 'Pont-a-Celles' 'Profondeville' 'Mons' 'Seraing'
 'La Bruyere' 'Perwez' 'Agen' 'Bearn' 'Bordeaux' 'Saint-Jean-de-Luz'
 'Nerac' 'Riom' "L'Oudon" 'Nevers' 'Tonnerre' 'Auxonne' 'Dijon' 'Lorient'
 'Tours' 'Orleans' 'Bievres' 'Besancon' 'Luxeuil-les-Bains' 'Dole'
 'Vesoul' 'Rouen' 'Louviers' 'Londinieres' 'Paris' 'Coulommiers'
 'Brie-Comte-Robert' 'Carcassonne' 'Metz' 'Toulouse' 'Boudry' 'Cambrai'
 'Bailleul' 'Nantes' 'Saumur' 'Angers' 'Saint-Quentin' 'Chauny' 'Poitiers'
 'Nice' 'Avignon' 'Aix-en-Provence' 'Chamonix' 'Lyon' 'Boissey'
 'Winterberg' 'Arnsberg' 'Anrochte' 'Bilstein' 'Drolshagen' 'Padberg'
 'Finnentrop' 'Olpe' 'Hallenberg' 'Attendorn' 'Menden' 'Balve' 'Warstein'
 'Schmallenberg' 'Bad Fredeburg' 'Medebach' 'Sundern' 'Meschede' 'Werl'
 'Marsberg' 'Buren' 'Grevenmacher' 'Remich' 'Luxembourg' 'Bitburg' 'Arlon'
 'Chiny' 'Virton' 'Bastogne' 'Durbuy' 'Marche-en-Famenne' 'Bouillon'
 'Saint-Hubert' 'Neufchateau' 'Miranda de Ebro' 'Zugarramurdi' 'Bera'
 'Etxalar' 'Lesaka' 'Igantzi' 'Sunbilla' 'Doneztebe' 'Zubieta' 'Donamaria'
 'Legasa' 'Erratzu' 'Pamplona' 'Arribe' 'Lezaeta' 'Tafalla' 'Gaztelu'
 'Hondarribia' 'Errenteria' 'San Sebastian' 'Urnieta' 'Andoain'
 'Eguino Entitatea' 'Alegria-Dulantzi' 'Bastida' 'Sierck-les-Bains'
 'Chambourg' 'Puttelange-aux-Lacs' 'Sarreguemines' 'Sarralbe' 'Sarrebourg'
 'Morhange' 'Rehlingen-Siersburg' 'Merzig' 'Uberherrn' 'Homburg'
 'Reimerswaal' 'Veere' 'Vlissingen' 'Middelburg' 'Domburg' 'Ouwerkerk'
 'Zierikzee' 'Goes' 'Breskens' 'Borssele' 'Hoek' 'Sluis'
 'Sint-Maartensdijk' 'Scherpenisse' 'Biervliet' 'Sint-Annaland'
 'Vrouwenpolder' 'Baden' 'Strassburg' 'Schlettstadt' 'Marmande'
 'Le Puy-en-Velay' 'Ehingen' 'Konstanz' 'Ettenheim' 'Ravensburg'
 'Pforzheim' 'Liestal' 'Basel' 'Nurnberg' 'Nuremberg' 'Bamberg'
 'Holzkirchen' 'Berlin' 'Bern' 'Biel' 'Autun' 'Macon' 'Chalon-sur-Saone'
 'Angermunde' 'Prenzlau' 'Brussels' 'Barcelona' 'Vic' 'Troyes'
 'Chalons-sur-Marne' 'Langres' 'Ferrara' 'Bologna' 'Modena' 'Coventry'
 'Exeter' 'London' 'Southwark' 'Hatfield' 'Canterbury' 'Durham'
 'Winchester' 'Wadenhoe' 'Hertford' 'Ely' 'York' 'Rushbrooke' 'Fribourg'
 'Murten' 'Putten' 'Zutphen' 'Geneva' 'Poznan' 'Hamburg' 'Evreux'
 'Frankfurt am Main' 'Dillenburg' 'Chateau-Landon' 'Mantes' 'Provins'
 'Brunn' 'Beziers' 'Mende' 'Boucoiran-et-Nozieres' 'Rome' 'Como' 'Milan'
 'Edolo' 'Brescia' 'Bormio' 'Halfedanges' 'Verdun' 'Gorze' 'Bar'
 'Monthureux-sur-Saone' 'Breslau' 'Willisau' 'Ancona' 'Pamiers' 'Figeac'
 'Cintegabelle' 'Krems' 'Stade' 'Braunschweig' 'Hildesheim' 'Oldenburg'
 'Mons-en-Pevele' 'Douai' 'Lille' 'Pecquencourt' 'Rouvroy' 'Cologne'
 'Paderborn' 'Siegen' 'Bergheim' 'Angermund' 'Ratingen' 'Rheinberg' 'Laon'
 'Soissons' 'Novara' 'Turin' 'Bressuire' 'Draguignan' 'Nieder-Hauenstein'
 'Rothenbach' 'Chambery' 'La Tour-du-Pin' 'Talloires' 'Aubenas' 'Avalon'
 'Vivarais' 'Zwickau' 'Salzburg' 'Stein am Rhein' 'Olten' 'Busserach'
 'Faido' 'Locarno' 'Lugano' 'Innsbruck' 'Florence' 'Siena' 'Pisa' 'Salurn'
 'Brixen' 'Todi' 'Perugia' 'Utrecht' 'Viege' 'Conthey' 'Lausanne'
 'Portogruaro' 'Venice' 'Tournai' 'Nivelles' 'Bruges' 'Braunsberg'
 'Vienna' 'Gouda' 'Dordrecht' 'Villigen' 'Habsburg' 'Ensisheim'
 'La Wantzenau' 'Erstein' 'Freiburg' 'Diersburg' 'Konigsheim'
 'Waldshut-Tiengen' 'Breisach' 'Hufingen' 'Veringenstadt' 'Bretten'
 'Tubingen' 'Burladingen' 'Blaubeuren' 'Bad Saulgau' 'Brackenheim'
 'Ellwangen' 'Bad Waldsee' 'Stuttgart' 'Calw' 'Rottenburg am Neckar'
 'Grossbottwar' 'Oberndorf am Neckar' 'Schiltach' 'Hechingen' 'Ulm'
 'Bad Mergentheim' 'Schwabisch Hall' 'Renchen' 'Esslingen' 'Dornstetten'
 'Crailsheim' 'Oberkirch' 'Sinsheim' 'Dorzbach' 'Ortenaukreis'
 'Zell am Harmersbach' 'Heilbronn' 'Horb am Neckar' 'Wertheim am Main'
 'Rottweil' 'Elzach' 'Haslach im Kinzigtal' 'Boblingen' 'Sindelfingen'
 'Wiesensteig' 'Gemmingen' 'Wolfach' 'Appenweier' 'Markgraflerland'
 'Badenweiler' 'Unlingen' 'Bildechingen' 'Baden-Baden' 'Gengenbach'
 'Vogtsburg' 'Kampfelbach' 'Harmersbach' 'Buhl' 'Uberlingen' 'Bad Wurzach'
 'Waldkirch' 'Brigach' 'Endingen' 'Schopfheim' 'Hohenzollern' 'Ettlingen'
 'Reichenau' 'Beuren' 'Friedrichshafen' 'Rastatt' 'Kuppenheim' 'Biberach'
 'Heiligkreuztal' 'Obermarchtal' 'Niedernhall' 'Reute' 'Offenburg'
 'Riedlingen' 'Neuenburg' 'Bernau im Schwarzwald' 'Balingen' 'Giengen'
 'Schomberg' 'Reutlingen' 'Hirsau' 'Bebenhausen' 'Leutkirch im Allgau'
 'Wangen im Allgau' 'Lauffen' 'Kirchheim unter Teck' 'Bad Rappenau'
 'Freudenberg am Main' 'Niederstetten' 'Ingelfingen'
 'Reichenbach am Heuberg' 'Schorndorf' 'Sachsenheim' 'Weil der Stadt'
 'Kenzingen' 'Trochtelfingen' 'Sulz am Neckar' 'Rammersweier' 'Vohringen'
 'Boll' 'Haigerloch' 'Bad Herrenalb' 'Beilstein' 'Alpirsbach'
 'Lauda-Konigshofen' 'Marbach am Neckar' 'Krautheim' 'Schwabisch Gmund'
 'Neuenstadt am Kocher' 'Waiblingen' 'Freudenstadt' 'Rosenfeld'
 'Geislingen an der Steige' 'Bad Urach' 'Lichtenau' 'Besigheim' 'Wildberg'
 'Dornhan' 'Weingarten' 'Heidenheim' 'Herrenberg' 'Backnang' 'Gaildorf'
 'Asperg' 'Hornberg' 'Leonberg' 'Bietigheim' 'Neuffen' 'Aalen' 'Burkheim'
 'Ohringen' 'Ochsenhausen' 'Schliengen' 'Guglingen' 'Kraichgau'
 'Altensteig' 'Bottwar' 'Muhringen' 'Goppingen' 'Bad Wimpfen' 'Neibsheim'
 'Waldburg-Trauchburg' 'Langenargen' 'Oppenau' 'Ebingen'
 'Efringen-Kirchen' 'Mengen' 'Black Forest' 'Tettnang' 'Winnenden'
 'Hofweier' 'Achern' 'Schutterwald' 'Kloster Wittichen' 'Durmentingen'
 'Sasbach' 'Lahr' 'Herbertingen' 'Neuried' 'Donaueschingen' 'Braunlingen'
 'Mockmuhl' 'Karlsruhe' 'Messkirch' 'Schramberg' 'Klettgau' 'Tuttlingen'
 'Grafenhausen' 'Kongen' 'Neufra' 'Gammertingen' 'Titisee-Neustadt'
 'Obersontheim' 'Owen' 'Bad Liebenzell' 'Fellbach' 'Nurtingen' 'Weinsberg'
 'Bad Wildbad' 'Nagold' 'Guggenhausen' 'Altshausen' 'Munsingen' 'Nimburg'
 'Neuhausen auf den Fildern' 'Lenzkirch' 'Hosskirch' 'Knittlingen'
 'Stetten am kalten Markt' 'Konigseggwald' 'Hochberg' 'Grossheirath'
 'Lindenberg' 'Triefenstein' 'Oettingen in Bayern' 'Wollbach' 'Lohr'
 'Mainleus' 'Wurzburg' 'Feuchtwangen' 'Aurach' 'Erlach' 'Rabenau'
 'Limburg' 'Forbach' 'Cappel' 'Weselberg' 'Schill-berg' 'Monsheim'
 'Holzhausen' 'Winningen' 'Hecklingen' 'Groningen' 'Fussach' 'Stofel'
 'Bergues' 'Dunkirk' 'Hondschoote' 'Cassel' 'Houtkerque' 'Morbecque'
 'Merville' 'Diksmuide' 'Oudenburg' 'Eeklo' 'Sint-Niklaas' 'Oudenaarde'
 'Veurne' 'Ypres' 'Liedekerke' 'Ninove' 'Dendermonde' 'Ghent' 'Heuvelland'
 'Menen' 'Assenede' 'Aalst' 'Dentergem' 'Nieuwpoort' 'Herelbeke'
 'Wortegem-Petegem' 'Ostend' 'Berlare' 'Laarne' 'Ingelmunster'
 'Geraardsbergen' 'Nazareth' 'Deinze' 'Kortrijk' 'Kortemark' 'Nevele'
 'Spiere-Helkijn' 'Kruishoutem' 'Ronse' 'Gavere' 'Zwevegem' 'Poperinge'
 'Machelen' 'Zulte' 'Mesen' 'Baume-les-Dames' 'Saint-Claude' 'Arbois'
 'Gray' 'Orgelet' 'Poligny' 'Lons-le-Saunier' 'Salins-les-Bains' 'Ornans'
 'Quingey' 'Neuchatel' 'Fleurier' 'Colombier' 'Gorgier' 'Le Landeron'
 'Valangin' 'Thielle-Wavre' 'Birstein' 'Budingen' 'Villmar'
 'Offenbach am Main' 'Ginsheim-Gustavsburg' 'Russelsheim' 'Dreieich'
 'Neuberg' 'Wachtersbach' 'Langen' 'Niddatal' 'Schonrain' 'Gelnhausen'
 'Gedern' 'R?_sselsheim' 'Grundau' 'Poppenhausen' 'Rodenbergen'
 'Hasselroth' 'Florstadt' 'Linsengericht' 'Erlensee' 'Brachttal'
 'Rodenbach' 'Limeshain' 'Ortenberg' 'Meisenheim' 'Gonsroth' 'Langgons'
 'Peterweil' 'Hitzkirchen' 'Kefenrod' 'Lichtenfels' 'Faaborg' 'Bramming'
 'Ribe' 'Esbjerg' 'Varde' 'Blavand' 'Norre-Nebel' 'Fano' 'Agerbaek'
 'Ringkobing' 'Skaerbaek' 'Haderslev' 'Schokland' 'Terschelling'
 'Vlieland' 'Drongelen' 'Heusden' 'Geertruidenberg' 'Werkendam' 'Muiden'
 'Haarlem' 'Naarden' 'Beverwijk' 'Alkmaar' 'Amsterdam' 'Wijk aan Zee'
 'Hoorn' 'Aalsmeer' 'Edam' 'Watergang' 'Barsingerhorn' 'Enkhuizen'
 'Bennebroek' 'Schellinkhout' 'Medemblik' 'Bergen' 'Heemstede' 'Heiloo'
 'Abbekerk' 'Krabbendam' 'Purmerend' 'Huizen' 'Woerden' 'Lange Linschoten'
 'Oudewater' 'The Hague' 'Schiedam' 'Delft' 'Gorinchem' 'Leimuiden'
 's-Gravenzande' 'Ridderkerk' 'Schoonhoven' 'Spijkenisse' 'Oudenhhorn'
 'Brielle' 'Rotterdam' 'Ooltgensplaat' 'Rijsoord' 'Goedereede'
 'Zwartewaal' 'Noordwijk' 'Zwijndrecht' 'Zevenhuizen' 'Leiden'
 'Groot-Ammers' 'Mijnsheerenland' 'Midden-Delfland'
 'Hardinxveld-Giessendam' 'Haastrecht' 'Bergambacht' 'Moordrecht'
 'Hendrik-Ido-Ambacht' 'Langerak' 'Arkel' 'Molenwaard' 'Voorburg'
 'Hellevoetsluis' 'Vlaardingen' 'Maassluis']
Los datos unicos de la columna gadm_adm2 son [nan 'Laufenburg' 'Appenzell Ausserrhoden' 'Appenzell Innerrhoden'
 'Geneve' 'Glarus' 'Moesa' 'Maloja' 'Plessur' 'Prattigau/Davos' 'Bernina'
 'Surselva' 'Hinterrhein' 'Sursee' 'Willisau' 'Nidwalden' 'Obwalden'
 'Toggenburg' 'See-Gaster' 'Leventina' 'Locarno' 'Lugano' 'Vallemaggia'
 'Riviera' 'Uri' 'Zug' 'Freiburg' 'Mittelfranken' 'Schwaben' 'Oberpfalz'
 'Oberbayern' 'Braunau am Inn' 'Koblenz' 'Vosges' 'Meurthe-et-Moselle'
 'Moselle' 'Saarland' 'Namur' 'Liege' 'Hainaut' 'Brabant Wallon'
 'Lot-et-Garonne' 'Pyrenees-Atlantiques' 'Gironde' 'Puy-de-Dome'
 'Calvados' 'Nievre' 'Yonne' "Cote-d'Or" 'Morbihan' 'Indre-et-Loire'
 'Loiret' 'Ardennes' 'Doubs' 'Haute-Saone' 'Jura' 'Seine-Maritime' 'Eure'
 'Paris' 'Seine-et-Marne' 'Aude' 'Haute-Garonne' 'Boudry' 'Nord'
 'Loire-Atlantique' 'Maine-et-Loire' 'Aisne' 'Vienne' 'Alpes-Maritimes'
 'Vaucluse' 'Bouches-du-Rhone' 'Haute-Savoie' 'Isere' 'Rhone' 'Ain'
 'Antrim' 'Arnsberg' 'Detmold' 'Tubingen' 'Trier' 'Grevenmacher' 'Remich'
 'Luxembourg' 'Fife' 'Stirling' 'Angus' 'Scottish Borders'
 'Perthshire and Kinross' 'South Ayrshire' 'Highland' 'Edinburgh'
 'East Lothian' 'Orkney Islands' 'Argyll and Bute' 'Aberdeenshire'
 'Dumfries and Galloway' 'Shetland Islands' 'Moray' 'West Lothian'
 'South Lanarkshire' 'West Dunbartonshire' 'Renfrewshire'
 'Clackmannanshire' 'Burgos' 'Navarra' 'Guipuzcoa' 'Alava' 'Reimerswaal'
 'Veere' 'Vlissingen' 'Middelburg' 'Schouwen-Duiveland' 'Goes' 'Sluis'
 'Borsele' 'Terneuzen' 'Tholen' 'Magdeburg' 'Baden' 'Bas-Rhin'
 'Haute-Loire' 'Karlsruhe' 'Liestal' 'Basel' 'Niederbayern' 'Oberfranken'
 'Berlin' 'Niedersimmental' 'Bern' 'Biel' 'Saone-et-Loire' 'Brandenburg'
 'Bruxelles' 'Barcelona' 'Aube' 'Marne' 'Haute-Marne' 'Ferrara' 'Bologna'
 'Modena' 'West Midlands' 'Devon' 'London' 'Kent' 'Hertfordshire' 'Durham'
 'Hampshire' 'Northamptonshire' 'Norfolk' 'Cambridgeshire' 'York'
 'Suffolk' 'La Sarine' 'Lac' 'Putten' 'Warnsveld' 'Poznan City' 'Hamburg'
 'Darmstadt' 'Giessen' 'Yvelines' 'Brno' 'Herault' 'Lozere' 'Gard' 'Roma'
 'Como' 'Milano' 'Brescia' 'Sondrio' 'Meuse' 'Wroclaw' 'Ancona' 'Ariege'
 'Lot' 'Krems an der Donau Land' 'Luneburg' 'Braunschweig' 'Hannover'
 'Weser-Ems' 'Pas-de-Calais' 'Koln' 'Dusseldorf' 'Novara' 'Torino'
 'Deux-Sevres' 'Var' 'Rheinhessen-Pfalz' 'Savoie' 'Ardeche' 'Chemnitz'
 'Salzburg' 'Schaffhausen' 'Olten' 'Thierstein' 'Solothurn' 'Innsbruck'
 'Florence' 'Siena' 'Pisa' 'Bolzano' 'Perugia' 'Utrecht' 'Visp' 'Conthey'
 'Sierre' 'Lausanne' 'Venezia' 'West-Vlaanderen' 'Braniewo' 'Wien' 'Gouda'
 'Dordrecht' 'Haut-Rhin' 'Brugg' 'Stuttgart' 'Unterfranken' 'Erlach'
 'Bregenz' 'Affoltern' 'Mecklenburg-Vorpommern' 'Oost-Vlaanderen'
 'Vlaams Brabant' 'Antwerpen' 'Neuchatel' 'Val-de-Travers' 'Val-de-Ruz'
 'Kassel' 'Richmond upon Thames' 'Dorset' 'Essex' 'Staffordshire'
 'Brighton and Hove' 'Oxfordshire' 'Southampton' 'Shropshire'
 'Buckinghamshire' 'Somerset' 'Cornwall' 'Nottingham' 'Derby'
 'Tyne and Wear' 'Northumberland' 'Leicester' 'Lancashire' 'Derbyshire'
 'Lincolnshire' 'Bedfordshire' 'Wiltshire' 'Bristol' 'Berkshire'
 'Worcestershire' 'Gloucestershire' 'Cumbria' 'Warwickshire' 'Ronneby'
 'Karlskrona' 'Halmstad' 'Varberg' 'Jonkoping' 'Eksjo' 'Kalmar'
 'Vastervik' 'Borgholm' 'Morbylanga' 'Vimmerby' 'Vaxjo' 'Soderkoping'
 'Linkoping' 'Norrkoping' 'Finspang' 'Vadstena' 'Mjolby' 'Lund' 'Ystad'
 'Malmo' 'Simrishamn' 'Saffle' 'Kristinehamn' 'Karlstad' 'Falkoping'
 'Skara' 'Lidkoping' 'Lysekil' 'Munkedal' 'Boras' 'Mariestad' 'Uddevalla'
 'Tanum' 'Amal' 'Faaborg' 'Bramming' 'Ribe' 'Esbjerg' 'Varde'
 'Blavandshuk' 'Blaabjerg' 'Fano' 'Helle' 'Ringkobing' 'Skarbak'
 'Haderslev' 'East Sussex' 'West Sussex' 'Rutland' 'Noordoostpolder'
 'Terschelling' 'Vlieland' 'Aalburg' 'Heusden' 'Geertruidenberg'
 'Werkendam' 'Muiden' 'Haarlem' 'Naarden' 'Beverwijk' 'Alkmaar'
 'Amsterdam' 'Hoorn' 'Aalsmeer' 'Edam-Volendam' 'Waterland'
 'Anna Paulowna' 'Enkhuizen' 'Bennebroek' 'Drechterland' 'Medemblik'
 'Bergen' 'Heemstede' 'Heiloo' 'Wognum' 'Schagen' 'Purmerend' 'Huizen'
 'Woerden' 'Oudewater' "'s-Gravenhage" 'Schiedam' 'Delft' 'Gorinchem'
 'Jacobswoude' 'Wateringen' 'Ridderkerk' 'Schoonhoven' 'Spijkenisse'
 'Bernisse' 'Brielle' 'Rotterdam' 'Dirksland' 'Noordwijk' 'Zwijndrecht'
 'Moordrecht' 'Leiden' 'Nieuw-Lekkerland' "'s-Gravendeel" 'Schipluiden'
 'Hardinxveld-Giessendam' 'Krimpen aan den IJssel' 'Bergambacht'
 'Hendrik-Ido-Ambacht' 'Liesveld' 'Giessenlanden' 'Leidschendam-Voorburg'
 'Hellevoetsluis' 'Vlaardingen' 'Maassluis']
Los datos unicos de la columna gadm_adm1 son [nan 'Aargau' 'Appenzell' 'Appenzell Ausserrhoden' 'Appenzell Innerrhoden'

In [36]:
df_general_trials.head()

,year,decade,century,tried,deaths,city,gadm_adm2,gadm_adm1,gadm_adm0,lon,lat,record_source
0,NaN,1520,1500,1,1.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
1,NaN,1530,1500,1,1.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
2,NaN,1540,1500,5,5.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
3,NaN,1580,1500,7,5.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
4,NaN,1590,1500,11,0.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)

In [37]:
df_general_trials["year"] = df_general_trials["year"].apply(lambda dato: str(dato).split(".")[0])

In [38]:
df_general_trials["year"] = df_general_trials["year"].replace("nan", "Desconocido")

In [39]:
lista = ["city", "gadm_adm2", "gadm_adm1"]
for col in lista:
    df_general_trials[col] = df_general_trials[col].replace(np.nan, "Desconocido")

In [40]:
#probamos con la fila 1423, Franconia Media (en alem√°n: Mittelfranken) es una de las siete regiones administrativas en que est√° dividido el estado federado alem√°n de Baviera.

df_general_trials["region"] = df_general_trials["gadm_adm2"]
df_general_trials["state"] = df_general_trials["gadm_adm1"]
df_general_trials["country"] = df_general_trials["gadm_adm0"]

In [41]:
df_general_trials.drop(["gadm_adm2", "gadm_adm1", "gadm_adm0", "record_source"], axis = 1, inplace = True)

In [42]:
df_general_trials[df_general_trials["lat"].isnull()]["region"].unique()

array(['Desconocido', 'Laufenburg', 'Appenzell Ausserrhoden',
       'Appenzell Innerrhoden', 'Geneve', 'Glarus', 'Moesa', 'Maloja',
       'Plessur', 'Prattigau/Davos', 'Bernina', 'Surselva', 'Hinterrhein',
       'Sursee', 'Willisau', 'Nidwalden', 'Obwalden', 'Toggenburg',
       'See-Gaster', 'Leventina', 'Locarno', 'Lugano', 'Vallemaggia',
       'Riviera', 'Uri', 'Zug', 'Namur', 'Isere', 'Antrim', 'Tubingen',
       'Trier', 'Koblenz', 'Nord', 'Oberbayern', 'Fife', 'Stirling',
       'Angus', 'Scottish Borders', 'Perthshire and Kinross',
       'South Ayrshire', 'Highland', 'Edinburgh', 'East Lothian',
       'Orkney Islands', 'Argyll and Bute', 'Aberdeenshire',
       'Dumfries and Galloway', 'Shetland Islands', 'Moray',
       'West Lothian', 'South Lanarkshire', 'West Dunbartonshire',
       'Renfrewshire', 'Clackmannanshire', 'Magdeburg', 'Niedersimmental',
       'Kent', 'Norfolk', 'Pas-de-Calais', 'Torino', 'Savoie',
       'Solothurn', 'Perugia', 'Sierre', 'Bas-Rhin', 'Haut-Rhin',
       'Freiburg', 'Moselle', 'Mecklenburg-Vorpommern', 'West-Vlaanderen',
       'Oost-Vlaanderen', 'Vlaams Brabant', 'Antwerpen', 'Darmstadt',
       'Richmond upon Thames', 'Dorset', 'Durham', 'Essex',
       'Staffordshire', 'Brighton and Hove', 'Oxfordshire', 'Southampton',
       'Shropshire', 'Buckinghamshire', 'Somerset', 'Cornwall',
       'Nottingham', 'York', 'Derby', 'Tyne and Wear', 'Northumberland',
       'Hertfordshire', 'Cambridgeshire', 'Suffolk', 'Leicester',
       'Lancashire', 'Derbyshire', 'Lincolnshire', 'Northamptonshire',
       'Bedfordshire', 'Wiltshire', 'Bristol', 'Berkshire',
       'Worcestershire', 'Gloucestershire', 'Cumbria', 'Devon',
       'Warwickshire', 'Stuttgart', 'Ronneby', 'Karlskrona', 'Halmstad',
       'Varberg', 'Jonkoping', 'Eksjo', 'Kalmar', 'Vastervik', 'Borgholm',
       'Morbylanga', 'Vimmerby', 'Vaxjo', 'Soderkoping', 'Linkoping',
       'Norrkoping', 'Finspang', 'Vadstena', 'Mjolby', 'Lund', 'Ystad',
       'Malmo', 'Simrishamn', 'Saffle', 'Kristinehamn', 'Karlstad',
       'Falkoping', 'Skara', 'Lidkoping', 'Lysekil', 'Munkedal', 'Boras',
       'Mariestad', 'Uddevalla', 'Tanum', 'Amal', 'Faaborg', 'Bramming',
       'Ribe', 'Esbjerg', 'Varde', 'Blavandshuk', 'Blaabjerg', 'Fano',
       'Helle', 'Ringkobing', 'Skarbak', 'Haderslev', 'London',
       'East Sussex', 'West Sussex', 'Rutland', 'Noordoostpolder',
       'Terschelling', 'Vlieland', 'Aalburg', 'Heusden',
       'Geertruidenberg', 'Werkendam', 'Muiden', 'Haarlem', 'Naarden',
       'Beverwijk', 'Alkmaar', 'Amsterdam', 'Hoorn', 'Aalsmeer',
       'Edam-Volendam', 'Waterland', 'Anna Paulowna', 'Enkhuizen',
       'Bennebroek', 'Drechterland', 'Medemblik', 'Bergen', 'Heemstede',
       'Heiloo', 'Wognum', 'Schagen', 'Purmerend', 'Huizen', 'Woerden',
       'Oudewater', "'s-Gravenhage", 'Gouda', 'Schiedam', 'Delft',
       'Gorinchem', 'Jacobswoude', 'Wateringen', 'Ridderkerk',
       'Schoonhoven', 'Dordrecht', 'Spijkenisse', 'Bernisse', 'Brielle',
       'Rotterdam', 'Dirksland', 'Noordwijk', 'Zwijndrecht', 'Moordrecht',
       'Leiden', 'Nieuw-Lekkerland', "'s-Gravendeel", 'Schipluiden',
       'Hardinxveld-Giessendam', 'Krimpen aan den IJssel', 'Bergambacht',
       'Hendrik-Ido-Ambacht', 'Liesveld', 'Giessenlanden',
       'Leidschendam-Voorburg', 'Hellevoetsluis', 'Vlaardingen',
       'Maassluis'], dtype=object)

In [43]:
df_general_trials[(df_general_trials["lat"].isnull()) & (df_general_trials["city"] == "Hecklingen")]

,year,decade,century,tried,deaths,city,lon,lat,region,state,country
7828,1588,1580,1500,1,0.0,Hecklingen,NaN,NaN,Desconocido,Sachsen-Anhalt,Germany

In [44]:
df_general_trials[(df_general_trials["lat"].isnull()) & (df_general_trials["region"] == "Maloja")]

,year,decade,century,tried,deaths,city,lon,lat,region,state,country
237,Desconocido,1650,1600,26,12.0,Desconocido,NaN,NaN,Maloja,Graubunden,Switzerland
241,Desconocido,1660,1600,26,12.0,Desconocido,NaN,NaN,Maloja,Graubunden,Switzerland

In [45]:
df_general_trials["lat"].isnull().sum() / df_general_trials.shape[0]

0.5304387568555758

In [46]:
df_general_trials[df_general_trials["region"] == "Desconocido"]

,year,decade,century,tried,deaths,city,lon,lat,region,state,country
0,Desconocido,1520,1500,1,1.0,Desconocido,NaN,NaN,Desconocido,Desconocido,Estonia
1,Desconocido,1530,1500,1,1.0,Desconocido,NaN,NaN,Desconocido,Desconocido,Estonia
2,Desconocido,1540,1500,5,5.0,Desconocido,NaN,NaN,Desconocido,Desconocido,Estonia
3,Desconocido,1580,1500,7,5.0,Desconocido,NaN,NaN,Desconocido,Desconocido,Estonia
4,Desconocido,1590,1500,11,0.0,Desconocido,NaN,NaN,Desconocido,Desconocido,Estonia
...,...,...,...,...,...,...,...,...,...,...,...
10935,1740,1740,1700,2,0.0,Desconocido,NaN,NaN,Desconocido,Sachsen,Germany
10936,1750,1750,1700,1,0.0,Desconocido,NaN,NaN,Desconocido,Sachsen,Germany
10937,1760,1760,1700,4,0.0,Desconocido,NaN,NaN,Desconocido,Sachsen,Germany
10938,1770,1770,1700,6,0.0,Desconocido,NaN,NaN,Desconocido,Sachsen,Germany
10939,1790,1790,1700,1,0.0,Desconocido,NaN,NaN,Desconocido,Sachsen,Germany

In [47]:
df_general_trials[df_general_trials["country"] == "Spain"]["deaths"].unique()

array([nan,  0.,  1.])

In [48]:
df_general_trials[df_general_trials["country"] == "United Kingdom"]["city"].unique()

array(['Desconocido', 'Coventry', 'Exeter', 'London', 'Southwark',
       'Hatfield', 'Canterbury', 'Durham', 'Winchester', 'Wadenhoe',
       'Hertford', 'Ely', 'York', 'Rushbrooke'], dtype=object)

In [49]:
df_general_trials[(df_general_trials["country"] == "Spain") & (df_general_trials["deaths"] == 1)]

,year,decade,century,tried,deaths,city,lon,lat,region,state,country
6286,1456,1450,1400,1,1.0,Vic,2.254434,41.930437,Barcelona,Cataluna,Spain

In [50]:
df_general_trials.to_csv("trials_europa_limpio.csv")

In [51]:
df_brujas = pd.read_csv("brujas_limpio.csv", index_col = 0)
df_brujas

,Unnamed: 0,accused_witch,residence,month_of_accusation,month_of_execution,month_accusation
0,0,"Abbott, Arthur",Ipswich,5,NaN,mayo
1,1,"Abbott, Nehemiah, Jr.",Topsfield,4,NaN,abril
2,2,"Alden, John",Boston,5,NaN,mayo
3,3,"Andrew, Daniel",Salem Village,5,NaN,mayo
4,4,"Barker, Abigail",Andover,9,NaN,septiembre
...,...,...,...,...,...,...
147,147,"Wilds, Sarah",Topsfield,4,7.0,abril
148,148,"Wilford, Ruth",Haverhill,8,NaN,agosto
149,149,"Willard, John",Salem Village,5,8.0,mayo
150,150,"Wilson, Sarah Jr.",Andover,9,NaN,septiembre
151,151,"Wilson, Sarah Sr.",Andover,9,NaN,septiembre

In [52]:
df_nuevo_juicios = df_brujas.groupby('residence')['month_of_accusation'].count().reset_index()

In [57]:
df_nuevo_ejecuciones = df_brujas.groupby('residence')['month_of_execution'].count().reset_index()

In [56]:
df_general_trials.columns

Index(['year', 'decade', 'century', 'tried', 'deaths', 'city', 'lon', 'lat',
       'region', 'state', 'country'],
      dtype='object')

In [54]:
df_nuevo_juicios["state"] = "Massachusetts Bay Colony"
df_nuevo_juicios["country"] = "United Kingdom"
df_nuevo_juicios["year"] = "1692"
df_nuevo_juicios["decade"] = "1690"
df_nuevo_juicios["century"] = "1600"
df_nuevo_juicios["region"] = "Massachusetts Bay Colony"
df_nuevo_juicios["lon"] = 
df_nuevo_juicios["lat"] = 
df_nuevo_juicios.rename(columns={'residence': 'city'}, inplace=True)
df_nuevo_juicios.rename(columns={'month_of_accusation': 'tried'}, inplace=True)
df_nuevo_juicios

                   city  tried                     state         country
0             Amesbury       1  Massachusetts Bay Colony  United Kingdom
1              Andover      45  Massachusetts Bay Colony  United Kingdom
2              Beverly       4  Massachusetts Bay Colony  United Kingdom
3            Billerica       3  Massachusetts Bay Colony  United Kingdom
4               Boston       2  Massachusetts Bay Colony  United Kingdom
5              Boxford       3  Massachusetts Bay Colony  United Kingdom
6          Charlestown       2  Massachusetts Bay Colony  United Kingdom
7           Chelmsford       1  Massachusetts Bay Colony  United Kingdom
8           Gloucester       9  Massachusetts Bay Colony  United Kingdom
9            Haverhill       6  Massachusetts Bay Colony  United Kingdom
10             Ipswich       4  Massachusetts Bay Colony  United Kingdom
11                Lynn       5  Massachusetts Bay Colony  United Kingdom
12              Malden       1  Massachusetts Bay Colony  United Kingdom
13          Manchester       1  Massachusetts Bay Colony  United Kingdom
14          Marblehead       1  Massachusetts Bay Colony  United Kingdom
15   Piscataqua, Maine       2  Massachusetts Bay Colony  United Kingdom
16             Reading       7  Massachusetts Bay Colony  United Kingdom
17              Rowley       5  Massachusetts Bay Colony  United Kingdom
18          Salem Town      24  Massachusetts Bay Colony  United Kingdom
19       Salem Village      15  Massachusetts Bay Colony  United Kingdom
20           Salisbury       1  Massachusetts Bay Colony  United Kingdom
21           Topsfield       6  Massachusetts Bay Colony  United Kingdom
22        Wells, Maine       1  Massachusetts Bay Colony  United Kingdom
23              Woburn       3  Massachusetts Bay Colony  United Kingdom