In [1]:
import pandas as pd

pd.set_option('display.max_columns', None) 
import warnings
warnings.filterwarnings("ignore")

In [3]:
brujas = pd.read_csv('files/Accused-Witches-Data-Set.csv')
brujas

#Eliminar sort

,Accused Witch,Residence,Month of Accusation,Month of Execution,Sort
0,"Abbott, Arthur",Ipswich,5,NaN,1
1,"Abbott, Nehemiah, Jr.",Topsfield,4,NaN,2
2,"Alden, John",Boston,5,NaN,3
3,"Andrew, Daniel",Salem Village,5,NaN,4
4,"Barker, Abigail",Andover,9,NaN,5
...,...,...,...,...,...
147,"Wilds, Sarah",Topsfield,4,7.0,148
148,"Wilford, Ruth",Haverhill,8,NaN,149
149,"Willard, John",Salem Village,5,8.0,150
150,"Wilson, Sarah Jr.",Andover,9,NaN,151
151,"Wilson, Sarah Sr.",Andover,9,NaN,152

In [4]:
brujas['Month of Execution'].isna().sum()

132

In [7]:
anti_parris = pd.read_csv('files/Anti-Parris-Social-Data-Set.csv')
anti_parris
#Eliminar la edad de Identification

                 Name           Identification Sex  Sort
0      Porter, Joseph  Young men. 16 years old   M     1
1        Porter, Sam:  Young men. 16 years old   M     2
2       Preston, Jno.  Young men. 16 years old   M     3
3       Porter, Nath.  Young men. 16 years old   M     4
4    Swinnerton, Ben:  Young men. 16 years old   M     5
..                ...                      ...  ..   ...
79      Kittel, James              Free-Holder   M    82
80       Porter, Ben:              Free-Holder   M    80
81     Porter, Israel              Free-Holder   M    83
82       Small, Will:              Free-Holder   M    81
83  Swinneron, Jasper              Free-Holder   M    84

[84 rows x 4 columns]

In [9]:
anti_parris['Identification'].unique()

array(['Young men. 16 years old', 'Householder', '[Church] Member',
       'Non-Member', 'Free-Holder'], dtype=object)

In [12]:
anti_parris['Sex'].unique()

array(['M', 'F'], dtype=object)

In [13]:
anti_parris['Sex'].value_counts()

M    57
F    27
Name: Sex, dtype: int64

In [8]:
pro_parris = pd.read_csv('files/Pro-Parris-Social-Data-Set.csv')
pro_parris

                Name Identification Sex  Sort
0      Wilkins, Jane    Householder   F     1
1     Wilkins, Sarah    Householder   F     2
2       Fuller, Mary    Householder   F     3
3      Wilkins, Ruth    Householder   F     4
4     Wilkins, Eliz:    Householder   F     5
..               ...            ...  ..   ...
100  Holton, Abagail  Church-Member   F   101
101     Darlin, Mary  Church-Member   F   102
102   Hadlock, Sarah  Church-Member   F   103
103    Prince, Sarah  Church-Member   F   104
104      Brown, Han:  Church-Member   F   105

[105 rows x 4 columns]

In [11]:
pro_parris['Sex'].unique()

array(['F', 'M'], dtype=object)

In [14]:
pro_parris['Sex'].value_counts()

M    54
F    51
Name: Sex, dtype: int64

In [10]:
pro_parris['Identification'].unique()

array(['Householder', 'Church-Member'], dtype=object)

In [16]:
comite = pd.read_csv('files/Committee-List-Data-Set.csv')
comite
#Cambiar año a yes y nulo a no

,Committee Members,Petition,Social,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,Sort
0,"Putnam, Lt. John [Senr]",Pro-P,Church Member,1685.0,1686.0,1687.0,1688.0,1689.0,NaN,NaN,NaN,NaN,NaN,NaN,1696.0,NaN,NaN,1
1,"Walcott, Jonathan",Pro-P,Householder,1685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,"Buxton, John",Anti-P,Householder,1685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,3
3,"Sibley, William",NoS,Householder,1685.0,1686.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,"Putnam, Thomas Junr",Pro-P,Church Member,1685.0,1686.0,1687.0,NaN,NaN,NaN,NaN,NaN,NaN,1694.0,1695.0,1696.0,1697.0,1698.0,5
5,"Flint, Thomas",Pro-P,Church Member,NaN,1686.0,1687.0,1688.0,1689.0,NaN,NaN,NaN,NaN,1694.0,1695.0,NaN,NaN,NaN,6
6,"Tarbill, John",Anti-P,Church Member,NaN,1686.0,1687.0,NaN,NaN,1690.0,NaN,NaN,1693.0,NaN,NaN,NaN,NaN,NaN,7
7,"Porter, Lt. Isarell",Anti-P,Freeholder,NaN,NaN,1687.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
8,"Hutchinson, Joseph",Anti-P,Householder,NaN,NaN,NaN,1688.0,NaN,NaN,1691.0,1692.0,NaN,NaN,NaN,NaN,NaN,NaN,9
9,"Andrew, Danill",Anti-P,Householder,NaN,NaN,NaN,1688.0,NaN,NaN,1691.0,NaN,NaN,NaN,NaN,NaN,NaN,1698.0,10
10,"Rea, Joshua Senr",Anti-P,Church Member,NaN,NaN,NaN,NaN,1689.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
11,"Putnam, Edward",Pro-P,Church Member,NaN,NaN,NaN,NaN,1689.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
12,"Preston, Thomas",Anti-P,Householder,NaN,NaN,NaN,NaN,1689.0,NaN,NaN,NaN,1693.0,NaN,NaN,NaN,NaN,NaN,13
13,"Putnam, Lett. Natheniell",Pro-P,Church Member,NaN,NaN,NaN,NaN,NaN,1690.0,NaN,NaN,NaN,1694.0,1695.0,NaN,1697.0,NaN,14
14,"Fuller, Thomas Junr",Pro-P,Church Member,NaN,NaN,NaN,NaN,NaN,1690.0,NaN,NaN,NaN,1694.0,NaN,NaN,NaN,NaN,15
15,"Putnam, Jonathan",Pro-P,Church Member,NaN,NaN,NaN,NaN,NaN,1690.0,NaN,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,16
16,"Holton, Joseph Jur",Anti-P,Householder,NaN,NaN,NaN,NaN,NaN,1690.0,NaN,NaN,1693.0,NaN,NaN,NaN,NaN,NaN,17
17,"Nurse, Francis",Anti-P,Householder,NaN,NaN,NaN,NaN,NaN,NaN,1691.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
18,"Porter, Joseph",Anti-P,Householder,NaN,NaN,NaN,NaN,NaN,NaN,1691.0,1692.0,NaN,NaN,NaN,NaN,NaN,NaN,19
19,"Putnam, Joseph",Anti-P,Householder,NaN,NaN,NaN,NaN,NaN,NaN,1691.0,1692.0,NaN,NaN,NaN,NaN,NaN,NaN,20
20,"Willikins, Thomas",Anti-P,Church Member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1692.0,NaN,NaN,NaN,NaN,NaN,NaN,21
21,"Godell, Zacheriah",Pro-P,Church Member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1692.0,NaN,NaN,NaN,NaN,NaN,1698.0,22
22,"Pope, Joseph",Anti-P,Householder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1693.0,NaN,NaN,NaN,NaN,NaN,23
23,"Smith, James",NoS,Householder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1693.0,NaN,NaN,NaN,NaN,NaN,24
24,"Willknes, Henry",Pro-P,Church Member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1694.0,1695.0,NaN,NaN,1698.0,25
25,"Fuller, Jacob",NoS,Householder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1695.0,NaN,NaN,NaN,26
26,"Dale, John",Pro-P,Householder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1696.0,NaN,NaN,27
27,"Wilknes, Benjamin",Pro-P,Church Member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1696.0,NaN,NaN,28
28,"Walcott, John",Pro-P,Householder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1696.0,NaN,NaN,29
29,"Nurs, Samuell",Anti-P,Church Member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,30
30,"Rayment, Thomas",Anti-P,Householder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1698.0,31

In [17]:
comite2 = pd.read_csv('files/Committee-Yearly-Data-Set.csv')
comite2

,Committee 1685,Petition,Social,Committee 1686,Petition.1,Social.1,Committee 1687,Petition.2,Social.2,Committee 1688,Petition.3,Social.3,Committee 1689,Petition.4,Social.4,Committee 1690,Petition.5,Social.5,Committee 1691,Petition.6,Social.6,Committee 1692,Petition.7,Social.7,Committee 1693,Petition.8,Social.8,Committee 1694,Petition.9,Social.9,Committee 1695,Petition.10,Social.10,Committee 1696,Petition.11,Social.11,Committee 1697,Petition.12,Social.12,Committee 1698,Petition.13,Social.13
0,"Putnam, Lt. John [Senr]",Pro-P,Church,"Putnam, Lt. John",Pro-P,Church,"Putnam, Capt. John",Pro-P,Church,"Putnam, Capt. John",Pro-P,Church,"Putnam, Capt. John",Pro-P,Church,"Putnam, Lett. Natheniell",Pro-P,Church,"Nurse, Francis",Anti-P,Householder,"Porter, Joseph",Anti-P,Householder,"Pope, Joseph",Anti-P,Householder,"Putnam, Liuet. Nathanill",Pro-P,Church,"Putnam, Liuet Nathaniell",Pro-P,Church,"Putnam, Capt. John",Pro-P,Church,"Putnam, Nathaniel Liut",Pro-P,Church,"Andrew, Daniell",Anti-P,Householder
1,"Walcott, Jonathan",Pro-P,Householder,"Sibley, William",NoS,Householder,"Porter, Lt. Isarell",Anti-P,Freeholder,"Flintt, Ensine Thomas",Pro-P,Householder,"Rea, Joshua Senr",Anti-P,Church,"Tarbell, John",Anti-P,Church,"Porter, Joseph",Anti-P,Householder,"Hutchinson, Joseph",Anti-P,Householder,"Tarbell, John",Anti-P,Church,"Flint, Ensigne Thomas",Pro-P,Householder,"Flint, ensign Thomas",Pro-P,Householder,"Putnam, Thomas",Pro-P,Church,"Buxton, John",Anti-P,Householder,"Rayment, Thomas",Anti-P,Householder
2,"Buxton, John",Anti-P,Householder,"Flint, Thomas",Pro-P,Church,"Flint, Ensigne Thomas",Pro-P,Church,"Hutchinson, Joseph",Anti-P,Householder,"Flintt, Ensign Thomas",Pro-P,Householder,"Fuller, Thomas Junr",Pro-P,Church,"Hutchinson, Joseph",Anti-P,Householder,"Willikins, Thomas",Anti-P,Church,"Holton, Joseph Jun",Anti-P,Householder,"Fuller, Corporall Thomas [Jr]",Pro-P,Church,"Wilknes, Henry",Pro-P,Church,"Dale, John",Pro-P,Householder,"Putnam, Thomas",Pro-P,Church,"Goodell, Zach Senr",Pro-P,Church
3,"Sibley, William",NoS,Householder,"Tarbill, John",Anti-P,Church,"Tarbill, John",Anti-P,Church,"Andrew, Danill",Anti-P,Householder,"Putnam, Edward",Pro-P,Church,"Putnam, Jonathan",Pro-P,Church,"Andrew, Daniell",Anti-P,Householder,"Godell, Zacheriah",Pro-P,Church,"Preston, Thomas",Anti-P,Householder,"Willknes, Henry",Pro-P,Church,"Putnam, Thomas",Pro-P,Church,"Wilknes, Benjamin",Pro-P,Church,"Putnam, Jonathan",Pro-P,Church,"Putnam, Thomas",Pro-P,Church
4,"Putnam, Thomas Junr",Pro-P,Church,"Putnam, Thomas Junr",Pro-P,Church,"Putnam, Thomas",Pro-P,Church,NaN,NaN,NaN,"Preston, Thomas",Anti-P,Householder,"Holton, Joseph Jur",Anti-P,Householder,"Putnam, Joseph",Anti-P,Householder,"Putnam, Joseph",Anti-P,Householder,"Smith, James",NoS,Householder,"Putnam, Thomas",Pro-P,Church,"Fuller, Jacob",NoS,Householder,"Walcott, John",Pro-P,Householder,"Nurs, Samuell",Anti-P,Church,"Wilkins, Henry",Pro-P,Church

In [18]:
salem = pd.read_csv('files/Salem-Village-Data-Set.csv')
salem

                             Name Petition Church to 1696  Sort
0            Abby, Samuel and son    Pro-P         Church     1
1                 Alline, william    Pro-P     Non-Church     2
2        Andrew, Daniell and sons   Anti-P     Non-Church     3
3                  Barton, Samull      NoS     Non-Church     4
4                      Bayly, Tho      NoS     Non-Church     5
..                            ...      ...            ...   ...
132              Wilknes, samuell    Pro-P     Non-Church   133
133          Wilknes, Thomas senr   Anti-P         Church   134
134                 Willard, John      NoS     Non-Church   135
135             williams, Richard      NoS     Non-Church   136
136  Willkins, widdow [of] Samll       NoS     Non-Church   137

[137 rows x 4 columns]

In [19]:
tax = pd.read_csv('files/Tax-Comparison-Data-Set.csv')
tax
#pago por chelines

,Name,Petition,1681,1690,1694,1695,1697,1700,Sort
0,"Abby, Samuel and son",Pro-P,NaN,7.0,7.0,7.0,NaN,NaN,1
1,"Adams, John",NoS,22.50,NaN,NaN,NaN,NaN,NaN,2
2,"Aires, Nath'l",NoS,24.00,NaN,NaN,NaN,NaN,NaN,3
3,"Alline, william",Pro-P,NaN,NaN,4.5,8.0,10.5,8.0,4
4,"Andrew, Daniell and sons",Anti-P,119.25,36.0,26.0,38.0,40.0,44.0,5
...,...,...,...,...,...,...,...,...,...
195,"williams, Richard",NoS,NaN,4.0,3.0,3.0,5.0,3.0,196
196,"Willkins, [ ], widdow [of] Samll",NoS,36.00,4.0,NaN,NaN,NaN,NaN,197
197,"Woodbery, peter",NoS,2.50,NaN,NaN,NaN,NaN,NaN,198
198,"Wooden, John",NoS,NaN,NaN,NaN,NaN,NaN,4.0,199
199,"Woodrow, Joseph",NoS,15.00,NaN,NaN,NaN,NaN,NaN,200

In [20]:
tax['Petition'].value_counts()

NoS       101
Pro-P      53
Anti-P     46
Name: Petition, dtype: int64

In [21]:
town = pd.read_csv('files/Towns-Data-Set.csv')
town
#-1 no se sabe el mes

,Bin,Amesbury,Andover,Beverly,Billerica,Boston,Boxford,Charlestown,Chelmsford,Gloucester,Haverhill,Ipswich,Lynn,Malden,Manchester,Marblehead,"Piscataqua, Maine",Reading,Rowley,Salem Town,Salem Village,Salisbury,Topsfield,"Wells, Maine",Woburn
0,-1.0,4.0,9,4.0,5.0,5.0,8.0,5.0,-1.0,-1.0,7.0,5.0,5.0,5.0,9.0,5.0,9.0,5.0,8.0,4.0,5.0,6.0,4.0,4.0,5.0
1,1.0,NaN,8,4.0,5.0,5.0,8.0,5.0,NaN,9.0,8.0,3.0,10.0,NaN,NaN,NaN,-1.0,9.0,8.0,7.0,4.0,NaN,4.0,NaN,5.0
2,2.0,NaN,8,5.0,5.0,NaN,8.0,NaN,NaN,11.0,7.0,-1.0,5.0,NaN,NaN,NaN,NaN,4.0,8.0,9.0,4.0,NaN,4.0,NaN,5.0
3,3.0,NaN,8,6.0,NaN,NaN,NaN,NaN,NaN,11.0,7.0,5.0,5.0,NaN,NaN,NaN,NaN,5.0,8.0,5.0,4.0,NaN,4.0,NaN,NaN
4,4.0,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,9.0,8.0,NaN,6.0,NaN,NaN,NaN,NaN,9.0,8.0,9.0,5.0,NaN,4.0,NaN,NaN
5,5.0,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,9.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,4.0,4.0,NaN,4.0,NaN,NaN
6,6.0,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,3.0,5.0,NaN,NaN,NaN,NaN
7,7.0,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,3.0,NaN,NaN,NaN,NaN
8,8.0,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,NaN,NaN,NaN,NaN
9,9.0,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,NaN
10,10.0,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5.0,NaN,NaN,NaN,NaN
11,11.0,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,NaN
12,12.0,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,NaN
13,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,NaN
14,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN
15,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN
16,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

-------------

In [24]:
df = pd.read_csv('files/trials.csv')
df

,year,decade,century,tried,deaths,city,gadm.adm2,gadm.adm1,gadm.adm0,lon,lat,record.source
0,NaN,1520,1500,1,1.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
1,NaN,1530,1500,1,1.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
2,NaN,1540,1500,5,5.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
3,NaN,1580,1500,7,5.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
4,NaN,1590,1500,11,0.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
...,...,...,...,...,...,...,...,...,...,...,...,...
10935,1740.0,1740,1700,2,0.0,NaN,NaN,Sachsen,Germany,NaN,NaN,Wilde (2003)
10936,1750.0,1750,1700,1,0.0,NaN,NaN,Sachsen,Germany,NaN,NaN,Wilde (2003)
10937,1760.0,1760,1700,4,0.0,NaN,NaN,Sachsen,Germany,NaN,NaN,Wilde (2003)
10938,1770.0,1770,1700,6,0.0,NaN,NaN,Sachsen,Germany,NaN,NaN,Wilde (2003)
10939,1790.0,1790,1700,1,0.0,NaN,NaN,Sachsen,Germany,NaN,NaN,Wilde (2003)

In [29]:
lista = ['city', 'gadm.adm2', 'gadm.adm1', 'gadm.adm0']

for col in lista:
    print(col.upper())
    display(df[col].value_counts())

CITY

Geneva             320
Budingen           264
Bruges             121
Munich              80
Augsburg            75
                  ...
Aix-en-Provence      1
Boissey              1
Harmersbach          1
Vogtsburg            1
Oldenburg            1
Name: city, Length: 906, dtype: int64

GADM.ADM2

Mittelfranken        1303
East Lothian          516
Darmstadt             493
Stuttgart             450
Fife                  363
                     ...
Erlach                  1
Burgos                  1
Rheinhessen-Pfalz       1
Simrishamn              1
Novara                  1
Name: gadm.adm2, Length: 365, dtype: int64

GADM.ADM1

Scotland             3129
Bayern               1388
Baden-Wurttemberg    1153
England               619
Hessen                519
                     ...
Marche                  1
Niederosterreich        1
Salzburg                1
Warmian-Masurian        1
Bretagne                1
Name: gadm.adm1, Length: 113, dtype: int64

GADM.ADM0

United Kingdom    3750
Germany           3417
Switzerland       1272
France             807
Belgium            671
Sweden             353
Netherlands        314
Italy              107
Denmark             90
Spain               29
Hungary             26
Norway              20
Luxembourg          20
Estonia             17
Finland             17
Austria             16
Poland               9
Ireland              4
Czech Republic       1
Name: gadm.adm0, dtype: int64

In [31]:
df[df['gadm.adm0'] == 'United Kingdom']['city'].unique()

array([nan, 'Coventry', 'Exeter', 'London', 'Southwark', 'Hatfield',
       'Canterbury', 'Durham', 'Winchester', 'Wadenhoe', 'Hertford',
       'Ely', 'York', 'Rushbrooke'], dtype=object)

In [32]:
df[df['gadm.adm0'] == 'United Kingdom']['gadm.adm2'].unique()

array(['Antrim', 'Fife', nan, 'Stirling', 'Angus', 'Scottish Borders',
       'Perthshire and Kinross', 'South Ayrshire', 'Highland',
       'Edinburgh', 'East Lothian', 'Orkney Islands', 'Argyll and Bute',
       'Aberdeenshire', 'Dumfries and Galloway', 'Shetland Islands',
       'Moray', 'West Lothian', 'South Lanarkshire',
       'West Dunbartonshire', 'Renfrewshire', 'Clackmannanshire',
       'West Midlands', 'Devon', 'London', 'Kent', 'Hertfordshire',
       'Durham', 'Hampshire', 'Northamptonshire', 'Norfolk',
       'Cambridgeshire', 'York', 'Suffolk', 'Richmond upon Thames',
       'Dorset', 'Essex', 'Staffordshire', 'Brighton and Hove',
       'Oxfordshire', 'Southampton', 'Shropshire', 'Buckinghamshire',
       'Somerset', 'Cornwall', 'Nottingham', 'Derby', 'Tyne and Wear',
       'Northumberland', 'Leicester', 'Lancashire', 'Derbyshire',
       'Lincolnshire', 'Bedfordshire', 'Wiltshire', 'Bristol',
       'Berkshire', 'Worcestershire', 'Gloucestershire', 'Cumbria',
       'Warwickshire', 'East Sussex', 'West Sussex', 'Rutland'],
      dtype=object)

In [33]:
df[df['gadm.adm0'] == 'United Kingdom']['gadm.adm1'].unique()

array(['Northern Ireland', 'Scotland', 'England'], dtype=object)

In [ ]:
df['gadm.adm0'].value_counts()

In [25]:
df.isna().sum()

year              931
decade              0
century             0
tried               0
deaths           3826
city             5213
gadm.adm2        1047
gadm.adm1         159
gadm.adm0           0
lon              5803
lat              5803
record.source       0
dtype: int64